<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">H4g4kur3!</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="org.example2.Skyrius"/>
        <mapping class="org.example2.Darbuotojas"/>
        <mapping class="org.example2.Projektas"/>
    </session-factory>
</hibernate-configuration>
